@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

:root {
  --bgColor: #f1f1f1;
  --mainColor: rgb(132, 61, 141);
}

nav .nav-link,
.navbar-brand {
  color:  rgba(249, 249, 249, 0.5);
  font-family: 'Montserrat Alternates';
}
nav .nav-link {
  font-weight:900;
 
  font-size: larger;
}
nav .nav-link:hover,
.navbar-brand:hover {
  color:rgb(132, 61, 141);
  transition: 0s;
}
/*intro*/
.introduction{
  height: 100vh;
  font-family: 'Montserrat Alternates';

}
.ima2{
  margin-left: 550px;
  width: 400px;
  margin-top: 100px;
}

.introText{
  color: #f1f1f1;
  text-align: center;
  padding-top: 20px;
  font-family: 'Montserrat Alternates';

}

.load{
  margin-left: 720px;
  color: #f1f1f1;

}

.lod{
  color: #f1f1f1;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Montserrat Alternates';

}

@media (max-width: 640px) {
  .container {
    text-align: center;
  }

  .container-nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 1em 0;
  }
}



